.header {
    width: 100%;
    background-color: $bgr-header;
}

.header__content {
    height: 2.7em;
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    height: 50%;
}

.header__navigation {
    margin: 0;
    padding: 0;
    a {
        margin-left: 1em;
    }
}

.banner {
    height: 40em;
    width: 100%;
}