.intro {
    position: absolute;
    top: 19em;
    left: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.intro__title {
    text-align: center;
    // stroke: $color-text-light;
    // fill: $color-text-blue;
    color: $color-text-light;
    font-size: 50px;
    font-weight: 800;
    width: 75%;
}

.form-input {
    width: 15em;
    height: 3em;
    padding: 0 1.5em;
    border-radius: 1em 0 0 1em; 
    font-size: 19px;
    border: none;
}

.form-error {
    color: $color-text-light;
    background: $bgr-error;
    margin-top: 0.5em;
    padding: 0.5em 0;
    text-align: center;
    border-radius: 1em; 
    font-weight: 600;
    width: 100%;
}

.form-button {
    width: 8.5em;
    height: 3em;
    background-color: $bgr-btn;
    color: $color-text-light;
    font-size: 19px;
    font-weight: 800;
    border-radius: 0 1em 1em 0; 
    border: none;
}

.content {
    margin: 1.5em 0;
}
.content__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.property-card {
    width: 19em;
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    margin-top: 2em;
}

.property-card__image {
    width: 100%;
    height: 10em;
    border-radius: 1.5em; 
    bottom: 0;
}
.property-card__address {
    font-size: 19px;
    font-weight: 800;
    margin: 10px 0;
}
.property-card__price {
    font-size: 22px;
    font-weight: 500;
    color: $color-text-blue;
    margin: 0;
}

.content__title {
    text-align: center;
    color: $color-text-blue;
    font-size: 50px;
    font-weight: 800;
}

.content__description {
    text-align: center;
    color: $color-text;
    font-size: 19px;
    font-weight: 500;
    padding: 0 6.5em;
    line-height: 1.1em;
}

