body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  font: 24px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
h1 {
  text-align: center;
  color: rgba(175, 47, 47, 0.15);
  font-size: 100px;
  font-weight: 100;
  margin: 10px 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
